@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Manrope", sans-serif;
}

.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--info,
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--error,
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--success {
  font-family: "Manrope", sans-serif;
}
